{% comment %}   Элемент HTML <form> -контейнера для веб-формы. Атрибут action сообщает
веб-браузеру URL-адрес, который должен использоваться при отправке.
Если задана пустая строка, форма передается URL-адресу, находящемуся в 
данный момент в адресной строке, то есть URL-адресу, который визуализирует 
форму на странице. Атрибут method указывает метод HTTP-запроса.
  Аргумент шаблона form.hidden_tag()создает скрытое поле, содержащее 
токен, используемый для защиты формы от атак CSRF. {% endcomment %}

{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% comment %} Выводим сообщения об ошибках, представленных валидатором {% endcomment %}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}